
header {
    background-color: black;
    padding: 5px;
    
}

body {
    background-color: #c8c8c8;
}


h1 {
    color: yellow;
    font-size: 38px;
    font-family: 'Anton';
    text-transform: uppercase;
}


.container{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.boxmenu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

a {
    color: black;
    background-color: yellow;
    border-radius: 5px;
    margin-left: 25px;
    padding: 8px;
    font-family: 'Anton';
    text-decoration: none;
    font-size: 18px;
    

}

main {
    display: flex;
    justify-content: center;
}

.corpo {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    align-items: center;
    margin: 50px;
    justify-content: space-between;
}

.cartaz{
    border: 10px;
    border-radius: 9px;
    border-style: double;
    border-color: black;
    margin: 20px;

}

footer {
    position: absolute;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 3px;
    background-color: black;
    color: yellow;
    margin-bottom: 0px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }

footer img {
    margin-right: 10px;
   
}

footer p{
    text-align: center;
}